/* src/index.css */

/* A dark gradient background for the entire body */
body {
  background: linear-gradient(135deg, #1e1e2f, #2f2f3f);
  min-height: 100vh;
  margin: 0;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

.card {
  background-color: #1c1c2c; /* A custom dark color */
  border: none;
  color: #fff;
}

.card .card-body {
  background-color: white;
}

.btn-primary {
  background-color: #4c4cff;
  border: none;
}

.btn-danger {
  background-color: #ff4c4c;
  border: none;
}
.mb-3{
color:#0D6EFD;
}
.col-md-4 mb-3{
  background-color: white;
}
.bgcolor {
  color: #f8f9fa91;
}
